[user]
  name = Sam Bonner
  email = sam@sambonner.co.nz

[url "git://github.com/"]
      insteadOf = "gh:"

[url "git@github.com:"]
      pushInsteadOf = "gh:"

[color]
  branch = auto
  diff = auto
  status = auto
  
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[credential]
	helper = cache --timeout=3600

[core]
	editor = vim

[alias]
	co = checkout
	st = status
  qlog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
